[submodule "modules/spine"]
	path = modules/spine
	url = git@github.com:jjay/godot-spine-module
[submodule "modules/appsflyer"]
	path = modules/appsflyer
	url = ssh://git@labs.corpwebgames.com:722/summertales/godot-appsflyer-module.git
[submodule "modules/notifications"]
	path = modules/notifications
	url = git@github.com:jjay/godot-notifications.git
[submodule "modules/facebook"]
	path = modules/facebook
	url = git@github.com:jjay/godot-facebook.git
[submodule "modules/zendesk"]
	path = modules/zendesk
	url = git@github.com:jjay/godot-zendesk.git
